
<meta charset="utf-8">
<meta name="viewport" content="width=device-width , initial-scale=1">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
<div id="page-conteiner">
    <div id = "content-wrap">
        <footer class="footer" id="footer">
            <style type="text/css">
                @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,200&display=swap');
                body{
                    line-height: 1.5;
                    font-family: 'Poppins', sans-serif;
                }
                *{
                    margin:0;
                    padding:0;
                    box-sizing: border-box;
                }
                .container{
                    max-width: 1170px;
                    margin:auto;
                    margin-top: -40px;
                    margin-bottom: -65px;
                    position:relative;
                }
                #page-conteiner{
                    position: relative;
                    min-height: 100vh;
                }
                #content-wrap{
                    padding-bottom: 2.5rem;
                }
                #footer{
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    height: 4rem;
                }
                .row{
                    display: flex;
                    flex-wrap:wrap;
                }
                ul{
                    list-style: none;
                }
                .footer{
                    position:block;
                    width: 100%;
                    background-color: #e1dfdf;
                    padding:70px 0;
        
                    display:inline-block;
                }
                .footer-nav{
                    width: 25%;
                    margin-left: 250px;
                }
                .footer-nav h5{
                    font-size: 18px;
                    color :#000;
                    text-transform: capitalize;
                    margin-bottom: 35px;
                    font-weight: 500;
                    position: relative;
                }
                .footer-nav h5::before{
                    content: '';
                    position: absolute;
                    left: 0;
                    bottom: -10px;
                    background-color: #e91e63;
                    height: 2px;
                    box-sizing: border-box;
                    width: 50px;
                }
                .footer-nav ul li :not(:last-child){
                    margin-bottom:10px;
                }
                .footer-nav ul li a{
                    font-size: 16px;
                    text-transform: capitalize;
                    color:#ffffff;
                    text-decoration: none;
                    font-weight: 300;
                    color: #bbbbbb;
                    display: block;  
                    transition: all 0.3s ease;  
                }
                .footer-na ul li a:hover{
                    color:#ffffff;
                    padding-left: 10px;
                }
            </style>
            <div class="container">
                <div class="row">
                    <div class="footer-nav">
                        <h5>Martino Trivisano</h5>
                    </div>
                    <div class="footer-nav">
                        <h5>Seguimi nei social</h5>
                        <div class="social-links">
                            <style type="text/css">  
                                .fab{
                                    padding:10px;
                                    font-size: 30px;
                                    width: 50px;
                                    height: 50px;
                                    text-align: center;
                                    text-decoration: none;
                                    margin:5px;
                                    border-radius: 40px;
                                 }
                                .fab:hover{
                                    opacity: 0.7;
                                    padding-left: 10px;
                                }
                                .fa-facebook-f{
                                    background: #191970;
                                     color:white;
                                }
                                .fa-twitter{
                                    background:#55ACEE;
                                    color: white; 
                                }
                                .fa-instagram{
                                    background: #125688;
                                    color:white; 
                                }
                                .fa-linkedin-in{
                                    background:#007bb5;
                                    color:white; 
                                }
                            </style>
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
         </footer>
        
    </div>
</div>




